.colorbar-container {
    position: relative;
}

.colorbar {
    position: absolute;
    width: 100vw;
    height: 100vh;
}
@media screen and (max-width: 767px) {
  .colorbar {
    height: 100dvh;
  }
}