.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 2;
  height: 100vh;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.menu-list li {
  list-style-type: none;
}

.menu-list,
.title-menu,
.title-name-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 9999;
}

.title-name-menu {
  margin-top: 8rem;
  line-height: 1;
  align-items: center;
}

.title-menu h1,
h2 {
  background: -webkit-linear-gradient(
    var(--color-cyan-azure),
    var(--color-iceberg)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: perspective(200px) rotateX(40deg);
}

.title-menu h1 {
  font-size: 80px;
}

.title-menu h2 {
  font-size: 60px;
}

.title-menu p {
  font-size: 18px;
  margin-left: -32px;
  color: var(--color-black);
  font-family: 'Offside';
}

.menu-list {
  font-size: 40px;
  font-weight: 700;
  line-height: 2;
  height: 100vh;
  text-transform: capitalize;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .menu-list {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .main-wrapper {
    height: 100dvh;
  }

  .title-menu h1 {
    font-size: 42px;
  }
  .title-menu h2 {
    font-size: 35px;
  }

  .title-menu p {
    font-size: 12px;
    margin-left: -10px;
  }

  .menu-list {
    font-size: 25px;
    margin-top: -10rem;
    height: 100dvh;
  }
}
