.fuzzy-overlay {
  position: absolute;
  height: 400%;
  width: 400%;
  inset: -200%;
  pointer-events: none;
  z-index: 110;
  background-image: url('../../../../public/images/noise.png');
  opacity: 1;
  transition: opacity 1s ease-in-out 1s;
}

.bg-fuzzy {
  opacity: 0.2;
}

.scanlines {
  position: absolute;
  height: 400%;
  width: 400%;
  inset: -200%;
  pointer-events: none;
  z-index: 110;
  background: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(23, 23, 23, 0.75) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.2) 33.33%,
      rgba(0, 255, 0, 0.2) 33.33%,
      rgba(0, 0, 255, 0.2) 33.33%
    );
  background-size: 100% 5px, 20px 100%;
  opacity: 0.5;
}
