.fuzzy-overlay {
  position: absolute;
  height: 400%;
  width: 400%;
  inset: -200%;
  pointer-events: none;
  z-index: 110;
  background-image: url('../../../../public/images/noise.png');
  opacity: 1;
  transition: opacity 1s ease-in-out 1s;
}

.bg-fuzzy {
  opacity: 0.2;
}

.scanlines {
  position: absolute;
  height: 400%;
  width: 400%;
  inset: -200%;
  pointer-events: none;
  z-index: 110;
  background: linear-gradient(
    rgba(0, 0, 0, 0.2) 50%,
    rgba(255, 255, 255, 0) 50%
  );
  background-size: 100% 10px; /* Tebal garis scanlines */
  opacity: 0.5;
}
