.options-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.options-content button {
  margin: 0.2rem;
  padding: 1rem;
  cursor: pointer;
  font-size: 12px;
  text-align: left;
  color: var(--color-black);
  border: solid 3px var(--color-black);
  background-color: var(--color-white);
  width: 100%;
  line-height: 2;
  margin-left: auto;
}

.options-content button:hover {
  border: solid 3px var(--color-iceberg);
}

.dimmer-option {
  filter: brightness(50%);
}

.page-btn-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  font-size: 24px;
  margin-top: 7px;
}

.page-btn {
  font-size: 24px;
  color: var(--color-black);
  border: solid 3px var(--color-black);
  background-color: var(--color-white);
  padding: 3px;
  cursor: pointer;
}

.blue-border-btn:hover {
  border: solid 3px var(--color-iceberg);
}

.page-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

@media screen and (max-width: 767px) {
  .options-content button {
    padding: 0.8rem;
    font-size: 10px;
  }

  .page-btn {
    font-size: 16px;
  }
}
