.options-content {
  display: flex;
  flex-direction: column;
}

.options-content button {
  margin: 0.2rem;
  padding: 1rem;
  cursor: pointer;
  font-size: 12px;
  text-align: left;
  border: solid 3px black;
}

.dimmer-option {
  background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 767px) {
  .options-content button {
    padding: 0.8rem;
    font-size: 8px;
  }
}
