.options-content {
  display: flex;
  flex-direction: column;
}

.options-content button {
  margin: 0.2rem;
  padding: 1rem;
  cursor: pointer;
  font-size: 12px;
  text-align: left;
  color: var(--color-black);
  border: solid 3px var(--color-black);
  background-color: var(--color-white);
}

.options-content button:hover {
  border: solid 3px var(--color-iceberg);
}

.dimmer-option {
  filter: brightness(50%);
}

@media screen and (max-width: 767px) {
  .options-content button {
    padding: 0.8rem;
    font-size: 8px;
  }
}
