.black-container {
  position: relative;
}

.black-bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-raisin);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-frame {
  height: 96%;
  width: 97%;
}
