.start-button button {
  cursor: pointer;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  background-repeat: no-repeat;
  overflow: hidden;
}

.start-button h1 {
  font-size: 40px;
  font-weight: 700;
  color: var(--color-cyan-azure);
}
