.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.options {
  position: absolute;
  right: 0px;
  margin-top: 12rem;
  z-index: 2;
}

.avatar {
  height: 1200px;
  transform: translatey(28%);
  width: auto;
}

.about-container {
  position: relative;
  z-index: 9999;
  height: 100%;
  margin: 4rem;
  overflow: hidden;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .options {
    margin-top: 12rem;
  }
  .not-third-options {
    top: 190px;
  }
}

@media screen and (max-width: 767px) {
  .avatar {
    height: 600px;
    width: auto;
    transform: translatey(20%);
  }

  .options {
    margin-top: 12rem;
  }

  .not-third-options {
    top: 90px;
  }
}
