@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap');

a {
  text-decoration: none;
  color: #fff090;
}

li {
  color: #4faf44;
  list-style-type: none;
}

.arrow .sign {
  display: none;
}

.arrow {
  position: relative;
  display: block;
  color: #f6eb14;
}

.wrapper,
.menu-list,
.title,
.title-name,
.title-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-name {
  margin-top: 8rem;
  line-height: 1;
  align-items: center;
}
/* .title-bg {
  background-color: black;
  position: absolute;
  top: 12.5%;
  transform: perspective(200px) rotateX(40deg);
} */

.title div h1,
h2 {
  background: -webkit-linear-gradient(#4faf44, #f6eb14);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: perspective(200px) rotateX(40deg);
}


p {
  font-size: 15px;
  margin-left: -32px;
  color: #fff;
  font-family: 'Offside';
}

.menu-list {
  font-family: 'Press Start 2P';
  font-size: 25px;
  font-weight: 700;
  line-height: 2;
  height: 100vh;
  text-transform: uppercase;
}
.arrow:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

.arrow:hover .sign {
  display: block;
  position: absolute;
  top: 0.2em;
  left: -2em;
}

.noise {
  z-index: 999;
}
