@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap');

a {
  text-decoration: none;
}

.menu-list-menu li {
  list-style-type: none;
}

.arrow-menu .sign-menu {
  display: none;
}

.arrow-menu {
  position: relative;
  display: block;
  color: var(--color-sun);
}

.menu-list-menu,
.title-menu,
.title-name-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 9999;
}

.title-name-menu {
  margin-top: 8rem;
  line-height: 1;
  align-items: center;
}

.title-menu h1,
h2 {
  background: -webkit-linear-gradient(var(--color-apple), var(--color-sun));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: perspective(200px) rotateX(40deg);
}

.title-menu p {
  font-size: 15px;
  margin-left: -32px;
  color: var(--color-white);
  font-family: 'Offside';
}

.menu-list-menu {
  font-size: 25px;
  font-weight: 700;
  line-height: 2;
  height: 100vh;
  text-transform: uppercase;
}
.arrow-menu:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

.arrow-menu:hover .sign-menu {
  display: block;
  position: absolute;
  top: 0.2em;
  left: -2em;
}

/* .title-bg {
  background-color: black;
  position: absolute;
  top: 12.5%;
  transform: perspective(200px) rotateX(40deg);
} */
