.header-wrapper {
  display: flex;
  position: absolute;
  left: -150px;
  z-index: 9999;
  text-transform: capitalize;
  transform: rotate(270deg);
  gap: 2rem;
  font-size: 14px;
}

.selected {
  text-decoration-thickness: 2px !important;
  text-decoration: line-through;
  text-decoration-color: var(--color-alabaster) !important;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-wrapper {
    height: 0px;
    top: -90%;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    transform: rotate(0deg);
    margin-left: 2rem;
    gap: 4rem;
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .header-wrapper {
    height: 0px;
    top: -90%;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    transform: rotate(0deg);
    gap: 1rem;
    font-size: 12px;
  }
  .header-content {
    font-size: 10px;
  }
}
