.project-container {
  height: 100%;
  margin: 4rem;
  position: relative;
  z-index: 9999;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.project-container::-webkit-scrollbar {
  display: none;
}

.project-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}

.project-content p {
  font-size: 20px;
  padding: 1.5rem 0 1.5rem;
}

.project-img-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: auto;
  justify-content: center;
  width: 100%;
  z-index: 0;
}

.project-img-content {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 80%;
  cursor: pointer;
}

.project-img-content-bottom {
  align-items: flex-end;
}

.dimmer-container {
  align-items: center;
  display: flex;
  justify-content: center;
  opacity: 0;
  position: absolute;
  text-align: center;
  transition: 0.2s ease;
  z-index: 2;
}

.dimmer-container-bottom {
  margin-bottom: 1rem;
  opacity: 1;
}

.project-img-content:hover .dimmer-container {
  opacity: 1;
}

.dimmer-content {
  color: var(--color-black);
  font-size: 12px;
  padding: 16px 20px;
  background-color: var(--color-banana-yellow);
  border-radius: 15px;
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .project-container {
    display: flex;
    justify-content: center;
    width: 84%;
  }

  .project-img-container {
    margin-top: 2rem;
  }

  .project-img-content {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .project-container {
    display: flex;
    justify-content: center;
    margin: 4rem 0.5rem;
    width: 95%;
  }

  .project-img-container {
    margin-top: 0.5rem;
  }

  .project-img-content {
    width: 90%;
  }

  .dimmer-container {
    width: 60%;
  }

  .dimmer-content {
    padding: 5px 5px;
    font-size: 7px;
  }
}
