.avatar-container {
  position: relative;
  z-index: 9999;
  height: 100%;
  margin: 4rem;
  overflow: hidden;
}

.avatar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.avatar-content div {
  grid-row-start: 1;
  grid-column-start: 1;
  place-self: center;
}

.avatar {
  height: 1200px;
  width: auto;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.options {
  margin-left: auto;
  margin-right: 0;
  z-index: 2;
}

.box {
  width: 60%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .avatar-container {
    margin-top: 8rem;
  }
}

@media screen and (max-width: 767px) {
  .avatar {
    height: 650px;
    width: auto;
  }

  .text-container {
    bottom: auto;
  }
  .box {
    width: 100%;
  }
}
