@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap');

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-raisin: #222221;
  --color-apple: #4faf44;
  --color-flavescent: #fff090;
  --color-sun: #f6eb14;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P';
}

html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.App {
  background-color: var(--color-black);
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
/* h1.title {
  background: -webkit-linear-gradient(var(--color-apple), var(--color-sun));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 9999;
} */

.disabled-link {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
