@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap');

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-alabaster: #f2f0e5;
  --color-iceberg: #68c2d3;
  --color-cyan-azure: #4b80ca;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P';
}

html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.App {
  background-color: var(--color-black);
  height: 100dvh;
  
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}

h1.title {
  background: -webkit-linear-gradient(
    var(--color-cyan-azure),
    var(--color-iceberg)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 9999;
}

.disabled-link {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.frame-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame-content {
  height: 96%;
  width: 97%;
}

.vignette {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-size: 100% 100%;
  pointer-events: none;
  background: none !important;
  z-index: 100000;
}

.blurry {
  width: 100%;
  height: auto;
  filter: blur(1px);
}
