:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-raisin: #222221;
  --color-apple: #4faf44;
  --color-flavescent: #fff090;
  --color-sun: #f6eb14;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
}
body {
  position: relative;
}
.App {
  background-color: var(--color-black);
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P';
  font-size: 40px;
  font-weight: 700;
  line-height: 2;
  height: 100vh;
  text-transform: uppercase;
}

h1.title {
  background: -webkit-linear-gradient(var(--color-apple), var(--color-sun));;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 9999;
}
