.container {
  position: relative;
  z-index: 9999;
  height: 100%;
  margin: 4rem;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.content {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content p {
  font-size: 20px;
  padding: 1rem 0 1.5rem;
  position: sticky;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    display: flex;
    justify-content: center;
    width: 85%;
  }
  .content {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .container {
    display: flex;
    justify-content: center;
    width: 75%;
  }
  .content {
    width: 100%;
  }
}
